{# TEMPLATE: home page #}

{% extends "base-background.twig" %}

{% block content %}

		
			
	<div class="content-wrapper">
		<div class="m-5 content-center text-center">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1 text-5xl pb-8">{{post.title}}</h1>
				<div class="article-body  md:px-96">
					{{post.content}}
				</div>
				</div>
			</section>
		</article>
	</div>


	<div
		class="debug p-8 ">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4 text-2xl text-gradient-to-r from-blue-400 to-pink-500 via-yellow-400">post name:
			{{post.name}}</p>

		<p>file name: page-home.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>

	<!-- /content-wrapper -->
{% endblock %}

		