{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content md:pl-10 md:pr-10 lg:pl-48 lg:pr-48">
				<div class="flex flex-col md:flex-row lg:flex-row">
				<h1 class="article-h1 text-5xl py-8 pr-10 buildings">{{ post.title }}</h1>
				<img src="{{ post.thumbnail.src }}" class="pt-10 pb-5 mx-auto w-screen md:w-1/2">
				</div>

				<div class="article-body">
					{{post.content}}

					{# this is building specific information, display it how you want #}
					<h3 class="text-3xl">Risk Status</h3>
					<p class="pb-2">{{ post.risk_status }}</p>

					<h3 class="text-3xl">Year</h3>
					<p class="pb-2">{{ post.year }}</p>
					<h3 class="text-3xl">Location</h3>
					<p class="pb-2">{{ post.location }}</p>
					<h3 class="text-3xl">Suburb</h3>
					<p class="pb-2">{{ post.suburb }}</p>

					<h3 class="text-3xl pt-10">Architect</h3>
					{# return a list in case there are multiple architects #}
					<ul class="pb-10">
						{% for arch in post.architect %}
							{# this loops through individual entries returned #}
							<li>
								{{arch.name}}
							</li>
						{% endfor %}
					</ul>

					{# show a map of the location #}
					{{ post.geolocation }}

				</div>

			</section>
		</article>
	</div>

	<!-- /content-wrapper -->
{% endblock %}