{# TEMPLATE: INDIVIDUAL BUILDING #}
{# this is the single building that is looped through on the archive-buildings.twig file #}


	<article class="tease tease-{{post.type}} bg-darkslate text-left font-thin" id="tease-{{post.id}}"> {% block content %}
		{% if post.thumbnail %}
		<img src="{{post.thumbnail.src}}" class="object-cover h-48 w-96"/>
		{% endif %}
		<div class="p-5">

		<h2 class="font-bold text-lg text-slate">
			<a href="{{post.link}}">{{post.title}}</a>
		</h2>
		<h3 class="text-slate font-normal">Risk Status</h3>
		<p>{{ post.risk_status }}</p>
		<p>{{ post.excerpt({ words:10, read_more: "Keep reading &rarr;" }) }}</p>
		</div>
	</p>

{% endblock %}</article>
