{# TEMPLATE: INDIVIDUAL BUILDING #}
{# this is the single building that is looped through on the archive-buildings.twig file #}


	<article class="tease tease-{{post.type}} bg-darkslate text-left text-slate font-thin hover:text-darkslate hover:bg-slate" id="tease-{{post.id}}"> {% block content %}
		
		{% if post.thumbnail %}
		<a href="{{post.link}}">
		<img src="{{post.thumbnail.src}}" class="object-cover h-48 w-96"/></a>
		{% endif %}
		<div class="p-5 hover:text-darkslate" style="cursor: pointer;" onclick="window.location='{{post.link}}';">
		
		<h2 class="font-bold text-lg">
			{{post.title}}
		</h2>
		<h3 class="font-normal">Risk Status</h3>
		<p>{{ post.risk_status }}</p>
		<br>
		<p>{{ post.excerpt({ words:20,  read_more: "Keep reading &rarr;"  }) }}</p>
		</div>
	</p>

{% endblock %}</article>
